.game-container {
  padding: 100px 0;

  flex-direction: column;
  gap: 70px;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1640px;
  padding: 20px;
  margin: 0 auto;
}

.choices {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  flex-wrap: wrap;
}

#background-screen {
  height: 85%;
  width: 90%;
  background-color: black;
  display: grid;
  place-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen {
  height: 440px;
  width: 30vw;
  transform: translateY(100px);
  z-index: -1;
  position: relative;
  animation: scale 500ms ease-in;
}

@keyframes scale {
  0% {
    scale: 0%;
  }
  100% {
    scale: 100%;
  }
}

.screen img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 24px;
}

.end-panel {
  height: 521px;
  width: 923px;
  background-image: url(/assets/img/png/Ecrant\ de\ fin.png);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  padding: 100px 15px;
  color: white;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  animation: scale 500ms ease-in;
}

#layer-blur {
  position: absolute;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  display: none;
}

.container-simon {
  overflow: hidden;
  background-image: url(/assets/img/png/indexbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: white;
}

.pied {
  width: 250px;
}

.lampe button {
  position: absolute;
}

.lampe {
  position: relative;
  animation: slide 300ms ease-in forwards; /* Ajout de forwards pour garder l'état final */
}

.lampe:nth-child(1) {
  animation: slide 600ms ease-in forwards;
  margin-top: 100px;
}

.lampe:nth-child(2) {
  animation: slide 900ms ease-in forwards;
}

.lampe:nth-child(3) {
  animation: slide 1200ms ease-in forwards;
  margin-top: -50px;
}

.lampe:nth-child(4) {
  animation: slide 1500ms ease-in forwards;
  margin-top: -50px;
}

.lampe:nth-child(5) {
  animation: slide 1800ms ease-in forwards;
  margin-top: -125px;
}

.lampe:nth-child(6) {
  animation: slide 2100ms ease-in forwards;
  margin-top: -50px;
}

@keyframes slide {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(50px);
  }
}

.game-button {
  font-size: 16px;
  border-radius: 50%;
  border: none;
  color: black;
  cursor: pointer;
  position: absolute;
  filter: brightness(50%);
}

.jaune {
  width: 160px;
  top: 40px;
  left: 60px;
}

.purple {
  width: 160px;
  top: 35px;
  left: 55px;
}

.red {
  width: 165px;
  top: 45px;
  left: 50px;
}

.orange {
  width: 175px;
  top: 35px;
  left: 40px;
}

.blue {
  width: 160px;
  top: 40px;
  left: 30px;
}

.green {
  width: 160px;
  top: 50px;
  left: 30px;
}

.body-font {
  font-family: var(--primary-font);
  font-size: 48px;
}

.game-container p {
  color: #f539d7;
  width: fit-content;
}

.score-container section {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-direction: column;
  width: fit-content;
}

.message-fin {
  height: fit-content;
  padding: 10px 10px;
  background-color: #f539d7;
  border-radius: 50px 50px 50px 0;
}

.avatar-fin {
  display: flex;
  position: absolute;
  bottom: 0px;
  left: 50px;
}

.action-button button {
  border: none;
  background-color: transparent;
  color: white;
  font-family: var(--primary-font);
  font-size: 48px;
  cursor: pointer;
}

.action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 200px;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socle {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -1;
  animation: slide 300ms ease-in forwards;
}

.gif {
  position: absolute;
  bottom: 170px;
  right: -70px;
  width: 600px;
  z-index: -1;
  transform: scaleX(-1);
}

#stars {
  width: 16%;
  top: 0;
  left: 20%;
  max-width: 100%;
  position: absolute;
  animation: stars 4s infinite;
  z-index: -1;
}
#stars1 {
  width: 14%;
  top: 5%;
  right: 0;
  max-width: 100%;
  position: absolute;
  animation: stars 4s infinite;
  z-index: -1;
}
#stars2 {
  width: 25%;
  top: 44%;
  left: 2%;
  max-width: 100%;
  position: absolute;
  animation: stars 4s infinite;
  z-index: -1;
}

#stars3 {
  width: 20%;
  top: 31%;
  left: 67%;
  max-width: 100%;
  position: absolute;
  animation: starsbis 4s infinite;
  z-index: -1;
}

#stars4 {
  width: 10%;
  top: 55%;
  left: 63%;
  max-width: 100%;
  position: absolute;
  animation: starsbis 4s infinite;
  z-index: -1;
}


@keyframes stars {
  0% {
    filter: opacity(0%);
  }
  50% {
    filter: opacity(100%);
  }
  100% {
    filter: opacity(0%);
  }
}
@keyframes starsbis {
  0% {
    filter: opacity(100%);
  }
  50% {
    filter: opacity(0%);
  }
  100% {
    filter: opacity(100%);
  }
}


#score-increment {
  display: none;
}