@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Pixelify Sans", sans-serif;
  --primary-color: #f539d7;
  --secondary-font: "Slackey", sans-serif;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
}
/* FONT EN COMMUN */

h2 {
  font-size: 75px;
}

strong {
  color: #f539d7;
}

h3 {
  font-family: var(--secondary-font);
  font-size: 25px;
  max-width: 400px;
  text-shadow: 3px 5px 2px #220452;
}

h4 {
    font-family: var(--secondary-font);
    font-size: 100px;
}


html { overflow-y: hidden; } 