.body-start {
  background-image: url(/assets/img/png/indexbackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
body #background {
  display: flex;
  position: fixed;
  align-items: center;
}
body .loader {
  padding: 0;
  margin-top: 100px;
  margin-bottom: 25px;
}
#score {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.loader {
  width: 30%;
  border-radius: 18px;
  position: relative;
  display: flex;
  justify-content: space-around;

}
.loader-circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
}
.loader-circle::after {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  height: 80%;
  width: 80%;
  border-radius: 50%;
}
.loader-circle:nth-child(1) {
  background-color: #ffd51b;
  animation: changeGrayscale 2.5s linear infinite;
  animation-delay: 0.15s;
}
.loader-circle:nth-child(2) {
  background-color: #bf00ff;
  animation: changeGrayscale 2.5s linear infinite;
  animation-delay: 0.3s;
}
.loader-circle:nth-child(3) {
  background-color: #f0252f;
  animation: changeGrayscale 2.5s infinite;
  animation-delay: 0.45s;
}
.loader-circle:nth-child(4) {
  background-color: #ff7627;
  animation: changeGrayscale 2.5s infinite;
  animation-delay: 0.6s;
}
.loader-circle:nth-child(5) {
  background-color: #27deff;
  animation: changeGrayscale 2.5s infinite;
  animation-delay: 0.75s;
}
.loader-circle:nth-child(6) {
  background-color: #41ff27;
  animation: changeGrayscale 2.5s infinite;
  animation-delay: 1s;
}
@keyframes changeGrayscale {
  0% {
    filter: brightness(0%);
  }
  50% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(0%);
  }
}
.neon {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff,
    0 0 40px rgb(149, 0, 255), 0 0 80px rgb(153, 0, 255),
    0 0 90px rgb(157, 0, 255), 0 0 100px rgb(246, 2, 198),
    0 0 150px rgb(255, 0, 230);
}
:root {
  font-size: calc(1vw + 1vh + 1.5vmin);
}
.container {
  margin: 0 auto;
}
body {
  background-color: black;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
}
#title img {
  position: relative;
}
.neon img {
  text-align: center;
  animation: neon 4s infinite;
}
.neon {
  text-align: center;
  animation: neon 4s infinite;
}
@keyframes neon {
  0% {
    filter: brightness(50%);
  }
  50% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(50%);
  }
}
a {
  text-decoration: none;
  filter: brightness(0.75);
  transition: filter 1s;
}
a:hover {
  filter: brightness(1);
}
body {
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
}
body.zoom-out {
  transform: scale(0);
}
body #background {
  width: 100%;
  height: 1180px;
}
body #title {
  display: flex;
  justify-content: center;
}
#title {
  display: flex;
  width: 100%;
}
#title #titre {
  width: 70%;
  top: 20px;
}
#title #circle {
  position: absolute;
  width: 30%;
  margin-top: -5%;
  left: 35%;
}
#play {
  margin-top: 50px;
  width: 70%;
}
#coucou {
  width: 35%;
  position: absolute;
  right: -80px;
  bottom: 0;
}
 
.socle {
  position: absolute;
  bottom: -100px;
  width: 100%;
  z-index: -1;
}
 
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: translateY(-200px);
}
#stars{
  width: 50%;
  top: 0;
  left: 10%;
  max-width: 100%;
  position: absolute;
  animation: stars 8s infinite;
}
#stars1{
  width: 35%;
  top: 10%;
  right: 0;
  max-width: 100%;
  position: absolute;
  animation: stars 8s infinite;
}
#stars2{
  width: 25%;
  top: 24%;
  left: 7%;
  max-width: 100%;
  position: absolute;
  animation: stars 8s infinite;
}
#stars3{
  width: 80%;
  top: 20%;
  left: 5%;
  max-width: 100%;
  position: absolute;
  animation: starsbis 8s infinite;
}
#stars4{
  width: 20%;
  top: 38%;
  left: 50%;
  max-width: 100%;
  position: absolute;
  animation: starsbis 8s infinite;
}
 
@keyframes stars {
  0% {
    filter: opacity(0%);
  }
  50% {
    filter: opacity(100%);
  }
  100% {
    filter: opacity(0%);
  }
}
@keyframes starsbis {
  0% {
    filter: opacity(100%);
  }
  50% {
    filter: opacity(0%);
  }
  100% {
    filter: opacity(100%);
  }
}

.copiright {
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 30px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--secondary-font);
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff,
    0 0 40px rgb(149, 0, 255), 0 0 80px rgb(153, 0, 255),
    0 0 90px rgb(157, 0, 255), 0 0 100px rgb(246, 2, 198),
    0 0 150px rgb(255, 0, 230);
}

